name: Build and Deploy with Docker

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # - name: Checkout repository
    #   uses: actions/checkout@v2

    # - name: Set up .NET Core
    #   uses: actions/setup-dotnet@v1
    #   with:
    #     dotnet-version: 6.x  # Replace with your desired .NET version

    # - name: Build .NET application
    #   run: dotnet build --configuration Release

    # - name: Publish Docker Image
    #   uses: docker/build-push-action@v4
    #   with:
    #     context: .
    #     platforms: linux/arm64
    #     push: true
    #     tags: eibayan/joos:latest
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
        
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker image
      run: docker push eibayan/joos:latest

    # - name: Deploy to Production
      # Add your deployment steps here
